
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="icon" type="image/x-icon" href="/cssFiles/favicon.ico" />
    <link rel="stylesheet" href="/cssFiles/home.css">
</head>
<body class="d-flex text-center text-white bg-dark">
    <div  class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto mr-auto ml-auto">
          <div class="inner">
            <h4 id="navHeader" class="float-md-start mb-0 me-auto">YelpCamp</h4>
            <nav class="nav nav-masthead float-md-end justify-content-center flex-nowrap">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %> 
            </nav>
      
          </div>
        </header>
        <main class=" px-sm-3">
            <h2>YelpCamp</h2>
            <% if (success && success.length) { %>
                    <p class="lead"> <%= success %> </p>
              <% } else { %>
                    <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds.
                        <br> Feel free to share some of your own and comment on others!</p>
                <% } %>
                <a class="btn btn-secondary font-weight-bold" href="/campgrounds">View Campgrounds</a>
        </main>
        <footer class="mt-auto text-white-50">
            <p>@ 2022 YelpCamp</p>
        </footer>
    </div>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    <script src="/jsFiles/validateForms.js"></script>
</body>

</html>